@import 'searchbar';
@import 'preview';

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.control {
  width: 300px;
  position: fixed;
  left: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.7);
  font-size: 14px;
}

@media only screen and (max-device-width: 480px) {
  .control {
    width: calc(100% - 40px);
  }
}

.control-toggle {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .control-toggle {
    display: block;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
  }
}

.form-group {
  .label {
    font-style: italic;
    display: inline;
  }
  .geocode {
    font-weight: 400;
    display: inline;
    border-bottom: 1px solid #ccc;
  }
}

#exportA {
  font-size: 18px;
}

.loading-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  z-index: 30;
  display: none;
}

.loading-bar::before {
  content: ' ';
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px) ;
  width: 100px;
  height: 100px;
  z-index: 20030;
  border-radius: 50%;
  border: 15px solid #fff;
  border-top-color: transparent;
  color: #fff;
  animation: spinning 1s infinite linear;
  -webkit-animation: spinning 1s infinite linear;
  -moz-animation: spinning 1s infinite linear;
}

.loading-bar::after {
  content: 'Loading';
  position: fixed;
  color: #fff;
  font-size: 12px;
  top: calc(50% - 7px);
  left: calc(50% - 18px);
}

.marginTopDown {
  margin: 10px 0;
}

a.disabled {
  color: #eee;
  pointer-event: none;
}


.cc {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
}
@media only screen and (max-device-width: 480px) {
  .cc {
    font-size: 11px;
  }
}

//// for rainbow material
.rainbow {
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  background-size: contain;
  background-image: url('./resources/rainbow.png');
}

.rainbow:hover:after {
  content: 'The Tile Exporter is rainbow-colored in celebration of Pride Month. . The obj for download does not have any color.';
  position: absolute;
  width: 200px;
  padding: 10px;
  font-size: 10px;
  background-color: #eee;
}

//loading spinner animation
@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spinning {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinning {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
