.navigation {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 300px;
  height: 300px;
}
@media only screen and (max-device-width: 480px) {
  .navigation {
    display: none;
  }
}

.direction-control {
  position: relative;
  width: 100%;
  height: 100%;
}



div[id^="preview"] {
  content: ' ';
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  width: 100px;
  height: 100px;
  fill: rgba(205,205,205,0.5);
  stroke: #666;
  &:hover:before {
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight: 600;
    line-height: 100px;
    background-color: rgba(100,100,100,0.7);
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

#preview-north-east {
  top: 0px;
  left: 200px;
  &:hover:before {
    content: 'NE';
  }
}
#preview-north {
  top: 0px;
  left: 100px;
  &:hover:before { content: 'N';}
}
#preview-north-west {
  top: 0px;
  left: 0px;
  &:hover:before { content: 'NW';}
}

#preview-east {
  top:100px;
  left: 200px;
  &:hover:before { content: 'E';}
}
#preview-center {top:100px; left: 100px;
  fill: rgba(255,255,255,0.8);
  stroke: #000;
  z-index: 5;
}
#preview-west {
  top:100px;
  left: 0px;
  &:hover:before { content: 'W'}
}

#preview-south-east {
  top: 200px;
  left: 200px;
  &:hover:before { content: 'SE'}
}
#preview-south {
  top: 200px;
  left: 100px;
  &:hover:before {content: 'S'}
}
#preview-south-west {
  top: 200px;
  left: 0px;
  &:hover:before {content: 'SW'}
}
