#search-bar {

  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
  z-index: 300;

  .search-icon {
    width: 30px;
    height: 34px;
    position: absolute;
    background-color: #fff;
    background-image: url("./resources/icons.svg");
    background-repeat: no-repeat;
    background-size: 200px 25px;
    background-position: 3px 3px;
  }

  .search-bar {
    width: 100%;
    float: left;
    padding-left: 33px;
    border: 0;
    text-overflow: ellipsis;

    &::-webkit-search-decoration::after {
      content: ' ';
      width: 0px;
      height: 0px;
      display: inline-block;
      background-image: none;
      margin: 0px 0px;
    }

    &::-webkit-search-decoration {
      display:none;
    }
  }


  .table-view.search-table {
    padding-left: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;

    top: 100%;
    width: calc(100% - 30px);

    li {
      background-color: #fff;
      font-size: 14px;
      width: 100%;
      float: left;
      z-index: 50;
      cursor: pointer;
      border-top: 1px solid #ddd;
      border-bottom: 0;
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: #ddd;
      }
      &.select {
        background-color: #ccc;
      }

      &::before {
        content: ' ';
        width: 10px;
        height: 10px;
        display: inline-block;
        background-image: url("./resources/icons.svg");
        background-repeat: no-repeat;
        background-size: 80px 10px;
      }
      &.search-result::before {
        background-position: -60px 0px;
      }
      &.search-term-result::before {
        background-position: -70px 0px;
      }
    }
  }

}
